*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {

    --board-shadow: #773475;
    --board-bg: #BF3475;
    --primary-light: #05F2F2;
    --primary-dark: #05DBF2;
    --secondary-light: #F29B30;
    --secondary-dark: #F25C05;
}

body {

    background-color: var(--board-bg);
    font-family: "Roboto", sans-serif;
    color: black;

}

#game-announcement {

    position: relative;
    margin: auto;
    width: max(250px, 50vmin);
    height: max(250px, 50vmin);
    overflow: hidden;

    background-color: var(--primary-light);
    border-radius: 25px;
}

#game-announcement::backdrop {

    background: rgba(0, 0, 0, 0.75);

}

#announcement-text {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 60%;
    margin: auto;
    font-size: max(35px, 5vmin);
    font-weight: 900;
    text-align: center;
    color: var(--secondary-dark);
    text-shadow: 3px 3px 3px var(--board-shadow);

}

@keyframes pulse {

    0% { transform: scale(1); }
    50% { transform: scale(1.5); } /* Peak size at halfway point */
    100% { transform: scale(1); }

}

.pulsing-text {
    
    display: inline-block;
    
    animation: pulse 3s infinite ease-in-out; /* Repeats forever */
}


#announcement-close {

    display: block;
    background-color: var(--board-bg);
    color: var(--secondary-light);
    box-shadow: inset -3px -3px 0px 3px var(--board-shadow), 5px 5px 5px 0 var(--board-shadow);
    border: 3px outset var(--board-shadow);
    border-radius: 16px;
    outline: 0px;
    font-size: 1.75rem;
    font-weight: 900;
    text-shadow: 2px 2px 2px black;
    padding: 12px;
    margin: auto;


}

#announcement-close:hover {

    background-color: var(--board-shadow);
    color: var(--secondary-dark);

}

#game-header {

    min-height: 100px;
    margin-bottom: 32px;

}

#player-ui {

    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 16px;

}

@media screen and (max-width: 450px) {
  #player-ui {
    flex-flow: column;
  }

  #player-ui li {
    margin-bottom: 7px;
  }
}


#player-ui li {

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}

#player-ui label {

    display: block;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 900;
    color: var(--primary-light);

}

#player-ui input {

    height: 1.5rem;
    border-radius: 6px;
    padding: 5px;

}

#start-game {

    background-color: var(--secondary-light);
    color: var(--primary-dark);
    box-shadow: inset -3px -3px 0px 3px var(--secondary-dark);
    border: 3px outset var(--board-shadow);
    border-radius: 16px;
    font-size: 1.5rem;
    font-weight: 900;
    text-shadow: 2px 2px 2px var(--secondary-dark);
    padding: 7px;


}

#user-message {

    text-align: center;
    font-size: max(1rem, 3vmin);
    font-weight: 900;

}

#gameboard {

    border-collapse: collapse;
    border-style: hidden;
    margin: 0 auto;
    width: max(300px, 80vmin);
    height: max(300px, 80vmin);

}

td span {

    display: flex;
    justify-content: center;
    align-items: center;
    width: max(100px, 25vmin);
    height: max(100px, 25vmin);
    font-family: 'Ultra', serif;
    font-size: max(75px, 20vmin);
    text-shadow: 5px 5px 5px var(--board-shadow);

}

tr, td {

    border: 16px solid var(--secondary-light);
    color: var(--primary-dark);

}